<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">

</head>

<body>
    <%- include('partials/navigation.ejs') %>
    <main>
        <form class="product-form" action="/admin/add-user" method="POST">
            <div class="form-control">
                <label for="name">Username</label>
                <input type="text" name="name" id="name">
            </div>
            <button class="btn" type="submit">Add user</button>
        </form>
    </main>
    <%- include('partials/end.ejs') %>